<h2> Title </h2>
<div><%= @post.title%></div>
<h2> Text </h2>
<div><%= @post.body %></div>
<h2> Comments </h2>
<div><% @post.comments.each do |c|%>
        <div><%= c.body %></div>
    <% end %>
</div>
<%= render "comments/form"%>
